
/* Your CSS Code here. */
main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.holder{
	width:120px;
	height:120px;
	display: flex;
	justify-content: space-between;
	background-color: blue;
}